{% extends "base.html" %}
 
{% block main %}
    <div>
        {% for cat in range(categories|count) %}
        <a href="/categorysearch/{{categories[cat].listorder}}/{{categories[cat].id}}">->{{categories[cat].name}}</a>
        {% endfor %}
    </div>
<div>
  <form>

      {% if readlock == "True" %}
      <fieldset disabled="disabled">
      {% endif %}
          <table>
              {% for field in form %}
              <tr><td>{{ field.label }}</td><td>{{ field }}</td></tr>
              {% endfor %}
              {% for frow in range(form.features|count) %}
                {% for field in form.features[frow] %}
                  <tr><td>{{ field.label }}</td><td>{{ field }}</td></tr>
                {% endfor %}
              {% endfor %}
        </table>

      </fieldset>

  </form>
</div>

{% endblock %}