{% extends 'base.html' %}
{% block title %}Maintain {{statictitle}}{% endblock title %}
{% block main %}
<a>Maintain {{statictitle}}</a>
<script type="text/javascript">
    function redirect()
    {
    var url = "/add/{{option}}"
    window.location.href=url ;
    }
</script>
{% if option != None %}
    <button id="addButton" class="float-left submit-button" title="Click to add a new {{option}}" onclick="redirect()">Add</button>
<table border="1">
    <tr>
        <th>Delete</th>
        {% if option == 'component' %}
        <th>Updt</th>
        <th>Featr</th>
        <th>Cats</th>
        {% endif %}
        {% for field in form[-1] %}
            <th>{{field.label}}</th>
        {% endfor %}
    </tr>
    {% for row in range(numrows) %}
    <tr>
        {% autoescape false %}
        <td>{{deleteoption[row-1]}}</td>
        {% if option == 'component' %}
        <td>{{updateoption[row-1]}}</td>
        <td>{{featureoption[row-1]}}</td>
        <td>{{categoryoption[row-1]}}</td>
        {% endif %}
        {% for field in form[row-1] %}
        <td>{{field.data}}</td>
        {% endfor %}
        {% endautoescape %}
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock main %}